
.take_picture{
    display : flex;
    flex-direction : row;
    height : fit-content;
    border : 1px solid lightgrey;
    width : 100%;
}

.take_picture canvas{
    display : none;
}

.display{
    display : flex;
    flex-direction: column;
    height : fit-content;
}
