
.all{
    display : flex;
    flex-direction : row;
    height: 100%;
}
.sidemenu{
    padding-right : 3px;
    border : 1px solid red;
    width : 13%;
}
.content{
    display : flex;
    flex-direction : column;
    align-items : center;
    width : 87%;
    height : fit-content;
    border : 1px solid green;
}
.content div {
    width: 90%;
    display : flex;
    flex-direction : column;
    height : fit-content;
}

.header{
    border-bottom : 1px solid lightgrey;
    padding : 10px;
}

.controls{
    display : flex;
    flex-direction : column;
}
