.all{
    display : flex;
    flex-direction : row;
    border : 1px solid black;
    width : 100%;
    height : 100%;
    max-height : 76vh;
}

.display{
    display : flex;
    flex-direction : column;
    border : 1px solid green;
    width : 90%;
    max-height : 100%;
}

.notifs{
    display : flex;
    flex-direction : column;
    border : 1px solid red;
    width : 10%;
    padding : 5px;
    overflow-y : auto;
    height: 100%;
    max-height : 100%;
}

.video_container{
    display : flex;
    flex-direction : column;
    width : 100%;
    max-height : 85%;
    height: fit-content;
    border : 1px solid yellow;
}

.video_container canvas{
    display : none;
}

.video_display{
    border : 1px solid orange;
    max-width : 100%;
    max-height: 100%;
}
