.page{
    display : flex;
    flex-direction : column;
    height : 100%;
    border : 1px dashed green;
    padding : 5px;
}

.attendance{
    border : 1px dashed orange;
    display : flex;
    flex-direction : column;
    height : 90%;
    max-height : 90%;
    padding : 5px;
    overflow-y : auto;
}


.student{
    display : flex;
    justify-content : space-between;
    align-items : center;
    border : 1px solid lightgrey;
    margin : 5px;
    padding : 5px;
    border-radius : 5px;
}

.student p{
    margin : 0;
}

.std_info{
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    width : 80%;
}
