.page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  min-height: 1vh;
  padding: 2px;
  gap: 2px;
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
}

.card {
  background-color: rgb(24, 24, 39); /* Semi-transparent white background */
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: var(--shadow-md);
  max-width: 800px;
  width: 100%;
}

.card h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: var(--muted);
  margin-bottom: 2rem;
}

.link {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  background-color: rgba(var(--primary-color), 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: var(--primary-color);
  color: white;
}

@media (max-width: 200px) {
  .page {
    padding: 1px;
    gap: 10px;
  }

  .card h1 {
    font-size: 2rem;
  }

  .card p {
    font-size: 10rem;
  }

  .link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}